html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 95vh;
  display: grid;
  align-items: center;
  padding: 0 8rem 0 8rem;
}

.calculator {
  border-radius: 5px;
  width: 400px;
  background-color: #252525;
}

.calculator-screen {
  width: 100%;
  font-size: 6rem;
  height: 120px;
  background-color: #252525;
  color: #fff;
  text-align: left;
  padding-right: 20px;
  padding-left: 10px;
}

button {
  height: 60px;
  border-radius: 3px;
  font-size: 2rem;
  color: #fff;
  background-color: #252525;
}

.operator {
  color: #fff;
  background-color: #f5ae5e;
}

.clear {
  background-color: #ee1919;
  color: #fff;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.equal {
  background-color: #4280f3;
  color: #fff;
  height: 100%;
  grid-area: 2/4/6;
}

.clear:hover {
  background-color: #f14a34;
}

.equal:hover {
  background-color: #6192ec;
}

button:hover {
  background-color: #cecece;
}

@media screen and (min-width: 768px) {
  main {
    display: grid;
    justify-content: center;
  }
}