html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 95vh;
  display: grid;
  align-items: center;
  padding: 0 8rem 0 8rem;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
}

.calculator-screen {
  width: 100%;
  font-size: 6rem;
  height: 120px;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

button {
  height: 60px;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  font-size: 2rem;
  color: #333;
}

.operator {
  color: #337cac;
}

.clear {
  background-color: #192eee;
  color: #fff;
}

//Grids
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.equal {
  background-color: #1a7926;
  color: #fff;
  height: 100%;
  grid-area: 2 / 4 / 6;
}

//Hover
.clear:hover {
  background-color: #4078f0;
}

.equal:hover {
  background-color: #5ec494;
}

button:hover {
  background-color: #cecece;
}

//Media querie
@media screen and (min-width: 768px) {
  main {
    display: grid;
    justify-content: center;
  }
}
